:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid #ffffff;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.center {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#root {
  width: 100vw;
  height: 100vh;
}

h1 {
  text-decoration: underline;
  text-align: center;
}
h2 {
  margin-bottom: 5px;
  display: inline-block;
  margin-right: 8px;
}
h4 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 30px;
}

dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
}

.dialog-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.4); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Apply blur behind the element */
  /* Add vendor prefix for broader compatibility if needed */
  -webkit-backdrop-filter: blur(10px);
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.mt-5 {
  margin-top: 5px;
}
.mt-40 {
  margin-top: 40px;
}
.mr-10 {
  margin-right: 10px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-50 {
  margin-bottom: 50px;
}

.pb-50 {
  padding-bottom: 50px;
}

input {
  box-sizing: border-box;
  width: 100%;
  height: 32px;
}

.error-red {
  color: #CC0000;
}

.block {
  display: block;
}

.fit-content {
  width: fit-content;
}

table,
thead,
tbody,
tr,
td {
  border: 1px solid #ffffff;
}

td {
  padding-right: 6px;
  padding-left: 6px;
  min-width: 50px;
  height: 40px;
}

td a {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.text-center {
  text-align: center;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.checkmark {
  text-align: center;
  display: block;
}

.text-purple {
  color: #bb6bed;
}

tr.border-top {
  border-top: 3px solid #ffffff;
}

td input {
  border: none;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}